:root{
    --color-fondo:rgb(173, 221, 62);
    --color-fondo-sec:rgb(106,153,78, 0.5);
    --color-borde:rgb(56,102,65);
    --color-letra:rgb(242,232,207);
    --color-letra-titulo:rgb(188,71,73);
}