.form-login{
    background-color: red;
}
.form-contacto{
    padding: 200px;
    margin: auto;
    width: 50%;
    box-shadow: 10px 10px 10px  10px black;
}
.form-contacto .titulo{
    text-align: center;
    margin: auto;
    color: rgba(245,245,245,0.6);
	text-shadow: 5px 5px black;
    border: 1px;
    font-size: 50px;
}
.form-contacto .opciones{
    text-align: center;
}

.form-contacto .text{
    color: white;
}
.form-contacto .cajatxt{
    margin-right: 15%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	text-align: center;
}
.form-contacto .txtcontacto{
	color: black;
	text-shadow: black 1px 1px;

}
.form-contacto .artxt{
	background-color: rgba(255,255,255,0.5);
	padding: 300px;
	font-size: 20px;

}