@import url("colores.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    background-color:var(--color-fondo)
}
img .rounded-corners {
    border-radius: 30px;
  }

p{
    color: var(--color-letra);
}
h1{
    text-align: center;
    font-family: monospace;
    color: var(--color-letra-titulo);    
    font-size: 45px;
}
H2{
    text-align: center;
}
/* layout */
.grid {
    min-width: 400px;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    width: 100%;
  }

.arriba{
    grid-column: 1/4;
    grid-row: 1/1;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}
.navMin{
    margin: 5px;
    float: right;
    display: none;
}
.nav{
    grid-column: 1/4;
    grid-row: 2/2;
    border-radius: 15px;
    display: flex;
    width: 800px;
    text-align:center;
    margin: auto;
    padding: 20px;
    }
.nav-tab{
    margin: auto;
}
.nav-tab:hover{
    color: burlywood;
    text-shadow: 2px 2px var(--color-letra-titulo);

}
.nav-upper{
    display: none;
    position: absolute;
    right: 0;
    margin-top: 55px;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: medium;
    font-family: monospace;
    font-size: 20px;
    color: brown;
}

#nombre{
    padding-top: 15%;
    margin: auto;
    display:none;
}

#nombre1{
    padding: 50px;
    display: block;
}

#sobre-mi{
    text-align: center;
    width: 60rem;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 3/3;
    display: none;
    background: var(--color-fondo-sec);
    border-radius: 25px;
    box-shadow: 7px 13px 37px #000;
    border: 1px solid var(--color-borde);
}

#sobre-mi p{
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: monospace;
    font-size: 30PX;
}

#educacion{
    text-align: center;
    width: 60rem;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 3/3;
    display: none;
    background: var(--color-fondo-sec);
    border-radius: 25px;
    box-shadow: 7px 13px 37px #000;
    border: 1px solid var(--color-borde);
}

#proyectos{
    text-align: center;
    width: 60rem;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 3/3;
    display: none;
    background: var(--color-fondo-sec);
    border-radius: 25px;
    box-shadow: 7px 13px 37px #000;
    border: 1px solid var(--color-borde);

}

#proyectos li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 30%;
    border-radius: 25px;
    margin-bottom: 16px;
    border: 1px solid var(--color-borde);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
#experiencia{
    text-align: center;
    width: 60rem;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 3/3;
    display: none;
    background: var(--color-fondo-sec);
    border-radius: 25px;
    box-shadow: 7px 13px 37px #000;
    border: 1px solid var(--color-borde);
    
}

#contacto{
    text-align: center;
    width: 60rem;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 3/3;
    display: none;
    background: var(--color-fondo-sec);
    border-radius: 25px;
    box-shadow: 7px 13px 37px #000;
    border: 1px solid var(--color-borde);
}

ul{
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-top:5% ;
}

li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 50%;
    border-radius: 25px;
    margin-bottom: 16px;
    border: 1px solid var(--color-borde);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

a{
    color: white;
    background-color: none;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .arriba{
        padding: 25%;
        width: 30%;
        padding: 100px;
    }
    
    .nav{
        display: none;
    }
    .men{
        display: block;
    }
    .navMin{
        float: right;
        display: block;    
    }
    #nav-upper{
        display: none;
    }
    
        #nombre{
            display: block;
        }

        #nombre1{
            display: none;
        }

        #sobre-mi p{
        font-size:15px ;
    }
    .espacio{
        padding:90px;
    }
}
