body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}
p{
  text-align: center;
}
/* layout */
.grid {
  min-width: 400px;
  width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    width: 100%;
  }

.arriba{
    grid-column: 1/4;
    grid-row: 1/1;
    width: 600px;
    background: #24303c;
    padding: 120px;
    margin: auto;
    margin-top: 90px;
    border-radius: 44px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
    color: darksalmon;
}
.nav{
    grid-column: 1/4;
    grid-row: 2/2;
    border-radius: 15px;
    display: flex;
    width: 800px;
    text-align:center;
    margin: auto;
    padding: 20px;
    background-color: gainsboro;
    }
.nav-tab{
margin: auto;
}
.nav-tab:hover{
    color: burlywood;
    text-shadow: 2px 2px violet;
}

a{
    text-decoration: none;
    font-size: medium;
    font-family: monospace;
    font-size: 20px;
    color: brown;
}
#sobre-mi{
  margin:50px;
  text-align: center;
    display: none;
    grid-column: 1/4;
    grid-row: 3/3;
}
#educacion{
    display: none;
    grid-column: 1/4;
    grid-row: 3/3;
}
#proyectos{
    display: none;
    grid-column: 1/4;
    grid-row: 3/3;
}
#experiencia{
    display: none;
    grid-column: 1/4;
    grid-row: 3/3;
    
}
#experiencia ul{
    list-style:  lower-roman;
    text-align: center;
}
#experiencia li{}
#contacto{
    display: none;
}
@media screen and (max-width: 600px) {
  }
